body{
	margin:0;
	padding:0/* 0 25px*/;
}

.login-form{
	margin:15px 0;
}

.login-form .form-group{
	display:block;
	margin:10px 0;
}

.content-item{
	margin: 20px 0;
}


.content-item h3{
	margin: 0;
}

.content-item .feedbacks{
	font-size: 17.5px;
	margin:10px 0;
}

.content-item .feedback{
	margin:0 0 10px;
}

.content-item .feedback blockquote{
	margin:0;
	padding:5px 10px;
}

.content-item .feedback .text{
	font-size:15px;
}

.btn-play-container{
	text-align:center;
	margin:15px 0;
}

#main-container{
	min-height:400px;
}

footer{
	/*border-top:1px solid #ddd;
	position:fixed; bottom:0;
	background-color:#f8f8f8;*/
	padding:15px 0;
	margin-top:20px;
	color: #aaa;
	text-align:center;
	width:100%;
}
