{% extends "content_add.html" %}
{% load bootstrap3 %}

{% block content %}

<h1 class="text-center">You're done!</h1>

{% bootstrap_messages %}

<p class="text-center">
	<a href="{% url 'hfcore.views.content_add' %}" class="btn btn-default">New Audio File</a>
</p>


{% endblock content %}
