{% extends "layout.html" %}
{% load bootstrap3 %}

{% block contentAddMenuItem %} class="active"{% endblock %}

{% block content %}

<h1>Upload a new audio file.</h1>


<form action="{% url 'hfcore.views.content_post' %}" method="post" class="form" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
	<div class="text-center">
		<button type="submit" class="btn btn-primary">
		    {% bootstrap_icon "ok-sign" %} Submit
		</button>
	</div>
    {% endbuttons %}
</form>

{% endblock %}

