{% extends "layout.html" %}
{% load bootstrap3 static %}

{% block feedbackAddMenuItem %} class="active"{% endblock %}

{% block content %}

<h1 class="text-center">Please listen to the audio and give your feedback!</h1>

{% bootstrap_messages %}

<div class="audio-container text-center">
	
	<p>uploaded by <strong>{{ content.author.username }}</strong>, from <a href="{{ content.refUrl }}" target="_blank">here</a></p>

	<audio controls>
		<source src="{{ content.audioFile.url }}" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio> 

	<blockquote class="text-left">
	{{ content.transcript }}
	</blockquote>

</div>

<form action="{% url 'hfcore.views.feedback_post' %}" method="post" class="form" role="form" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
	<div class="text-center">
		<button type="submit" class="btn btn-primary">
		    {% bootstrap_icon "ok-sign" %} Submit
		</button>
	</div>
    {% endbuttons %}
</form>

{% endblock content %}

{% block additionalHeaders %}

<script type="text/javascript" src="{% static "tiny_mce/tiny_mce.js" %}"></script>

{% endblock %}
