{% extends "layout.html" %}
{% load bootstrap3 %}

{% block feedbackListMenuItem %} class="active"{% endblock %}

{% block content %}

<h1 class="text-center">Review the feedbacks you've received so far</h1>

{% for c in contents %}
{% if c.feedbacks.count > 0 %}
<div class="content-item well row text-center">
	
	<div class="col-md-6 audio-container">

		<h3>Your Audio</h3>

		<blockquote class="text-left">
		{{ c.transcript }}
		</blockquote>

		<audio controls>
			<source src="{{ c.audioFile.url }}" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio> 
	</div>

	<div class="col-md-6">

		<h3>Feedbacks</h3>

		<div class="feedbacks text-left">
		{% for f in c.feedbacks.all %}
			<div class="row feedback">
				<blockquote>
					<strong>{{ f.author.username }}</strong> - 
					<span class="rate badge alert-success">{% bootstrap_icon "star" %} {{ f.rating }}</span>
					<div class="text">{{ f.description|safe }}</div>
				</blockquote>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endif %}
{% endfor %}


{% endblock content %}
