{% extends "feedback_add.html" %}
{% load bootstrap3 %}

{% block content %}

<h1 class="text-center">Thank you for your feedback!</h1>

{% bootstrap_messages %}

<p class="text-center">
	<a href="{% url 'hfcore.views.feedback_add' %}" class="btn btn-default">New Feedback</a>
</p>


{% endblock content %}
