{% extends "layout.html" %}

{% block content %}

<h1>Welcome to HearFeed.</h1>

<h2> How it works </h2>    

<p>We made it pretty simple, just four (and not even daily) steps and you're done. <br/> Briefly, you need to:</p>
    
<ol>
	<li>Look for an interesting piece of text</li>
	<li>Record an audio file (download <a href="http://audacity.sourceforge.net/download/" target="_blank">Audacity</a> and <a href="http://lame.buanzo.org/" target="_blank">LAME</a> for mp3 encoding)</li>
	<li><a href="{% url 'hfcore.views.content_add' %}">Upload it</a>, together with source text and source URL</li>
	<li><a href="{% url 'hfcore.views.feedback_add' %}">Give your feedback</a> about other users' files and wait for <a href="{% url 'hfcore.views.feedbacks_list' %}">comments about yours</a></li>
</ol>
{% endblock content %}
