{% load bootstrap3 %}{% load staticfiles %}<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>{% block pageTitle %}HearFeed Beta{% endblock %}</title>
	{% bootstrap_css %}
	<link href="{% static "css/style.css" %}" rel="stylesheet"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	{% block additionalHeaders %}{% endblock %}
</head>
<body>
	{% block menu %}

	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">HearFeed</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
		<li{% block contentAddMenuItem %}{% endblock %}><a href="{% url 'hfcore.views.content_add' %}">Load Audio</a></li>
		<li{% block feedbackListMenuItem %}{% endblock %}><a href="{% url 'hfcore.views.feedbacks_list' %}">Review Feedbacks</a></li>
		<li{% block feedbackAddMenuItem %}{% endblock %}><a href="{% url 'hfcore.views.feedback_add' %}">Give Feedbacks</a></li>
	      </ul>

	      <ul class="nav navbar-nav navbar-right">
		{% if user.is_authenticated %}
			<li><a href="#">Hi, {{ user.username }}</a></li>
			<li><a href="{% url 'logout' %}?next=/">Logout</a></li>
		{% else %}
			<li><a href="{% url 'login' %}?next=/">Login</a></li>
		{% endif %}
		
	       </ul>
	      
	    </div>
	  </div>
	</nav>


	{% endblock menu %}

	<div class="container" id="main-container">
	{% block content %}{% endblock %}
	</div>

	<footer>
		<div class="container">
			<p>
				Designed and developed (with love) by <a href="https://twitter.com/alex_casalboni" target="_blank">Alex</a> &amp; <a href="https://twitter.com/AntoAngelino" target="_blank">Antonio</a>
				<br/>
				<small>powered by 
					<a target="_blank" href="http://www.python.org"><code>python</code></a>
					<a target="_blank" href="http://www.djangoproject.com"><code>django</code></a>
					<a target="_blank" href="http://jquery.com"><code>jQuery</code></a>
					<a target="_blank" href="http://getbootstrap.com"><code>bootstrap3</code></a>
					<a target="_blank" href="https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html#tts-section"><code>webkit-speechSynth</code></a>
				</small>
		</div>
	</footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
	{% bootstrap_javascript %}
	<script type="text/javascript" src="{% static 'js/speech-synth.js' %}"></script>
	
	{% block footerJS %}{% endblock %}

</body>
</html>
