{% extends "layout.html" %}

{% block content %}

    <div class="login-container text-center">
	    <h1>Login</h1>
	    <form method="post"action="{% url 'login' %}" class="form-inline login-form" role="form">{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}"/>
		<div class="form-group">
			<input type="input" name="username" placeholder="username" class="form-control text-center"/>
		</div>
		<div class="form-group">
			<input type="password" name="password" placeholder="password" class="form-control text-center"/>
		</div>
		<button type="submit" class="btn btn-default">Login</button>
	    </form>
    </div>
{% endblock content %}
